In [ ]:
from re import L
# Q-1
d = {}
while True:
  a = input("Enter Country Name : ")
  b = input("Enter It's Capital : ")
  d[a]=b
  c = int(input("Enter 1 for exit else 0 :"))
  if c==1:
    break

l = list(d.keys())
l.sort()
for i in l:
  print(f"{i} : {d[i]}")

Enter Country Name : India
Enter It's Capital : Delhi
Enter 1 for exit else 0 :0
Enter Country Name : Pakistan
Enter It's Capital : xyz
Enter 1 for exit else 0 :0
Enter Country Name : Afganistan
Enter It's Capital : abc
Enter 1 for exit else 0 :1
Afganistan : abc
India : Delhi
Pakistan : xyz

In [ ]:
# Q-2
d = {"sag":9872,"par":9882,"uta":2728};
while True:
  a = input("Enter Name : ")
  a = a.lower()
  if a in d:
    print(f"Phone No. of {a} is {d[a]}")
  else :
    b = input("Enter No. : ")
    d[a]=b
  c = int(input("Enter 1 for exit else 0 :"))
  if c==1:
    break

l = list(d.keys())
l.sort()
for i in l:
  print(f"{i} : {d[i]}")

Enter Name : sagar
Enter No. : 8958
Enter 1 for exit else 0 :0
Enter Name : sag
Phone No. of sag is 9872
Enter 1 for exit else 0 :1
par : 9882
sag : 9872
sagar : 8958
uta : 2728

In [ ]:
# Q-3
def abc():
    return 1,2,3,"Sagar"

a = abc()
print(a)

(1, 2, 3, 'Sagar')

In [ ]:
# Q-4
x = input("Enter a Sentence : ")
x = x.lower()
l = x.split()
print(l)
l.sort(key=len,reverse = True)

for i in l:
  print(f"{i} : {len(i)}")

Enter a Sentence : sagar is my name
['sagar', 'is', 'my', 'name']
sagar : 5
name : 4
is : 2
my : 2

In [ ]:
# Q-5
l = ["sagar","paras","shivam","anyone"]
a = len(l)
for i in range(0,a-1):
  for j in range(i+1,a):
    if l[i]>l[j]:
      l[i],l[j]=l[j],l[i]

print(l)

['anyone', 'paras', 'sagar', 'shivam']