In [ ]:
#1
l = [1,2,3,4,5,6]
d = {}
for i in l:
  newD = {}
  newD[i]=d
  d=newD
print(d)

{6: {5: {4: {3: {2: {1: {}}}}}}}

In [ ]:
#2
d = {"sg123":"123","abcde":"543","sagargupta":"sagar","Someone":"ok","Heee":"h"}
new_d = dict.fromkeys(d,"Sagar")

print(new_d)

new_d.clear()
print(new_d)

{'sg123': 'Sagar', 'abcde': 'Sagar', 'sagargupta': 'Sagar', 'Someone': 'Sagar', 'Heee': 'Sagar'}
{}

In [ ]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [ ]:
#3
d = {"Sagar":7829,"Paras":7388,"Someone":43984,"xyz":4939}
sorted_d = sorted(d)

for i in sorted_d:
  print(f"{i}:{d[i]}")

x=input("Enter Name : ")
if x in d:
  print(f"Name is present with value : {d[x]}")
else:
  c=input("Enter its Number : ")
  d[x]=c

print(d)

Paras:7388
Sagar:7829
Someone:43984
xyz:4939
Enter Name : Anyone
Enter its Number : 5432
{'Sagar': 7829, 'Paras': 7388, 'Someone': 43984, 'xyz': 4939, 'Anyone': '5432'}

In [ ]:
#4
a = (1,2,3,4,5)
x = 7
if x in a:
  print("Item Exists")
else:
  print("Item don't Exists")

Item don't Exists

In [ ]:
#5
a=int(input("Enter Starting of Range : "))
b=int(input("Enter Ending of Range : "))
c=[]
for i in range(a,b+1):
  x=(i,i*i)
  c.append(x)
print(c)

Enter Starting of Range : 5
Enter Ending of Range : 10
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [ ]:
#6a
s = "ABCDEFGHIJ"
for i in s:
  for j in range(0,10):
    print(i,end=" ")
  print()

A A A A A A A A A A
B B B B B B B B B B
C C C C C C C C C C
D D D D D D D D D D
E E E E E E E E E E
F F F F F F F F F F
G G G G G G G G G G
H H H H H H H H H H
I I I I I I I I I I
J J J J J J J J J J

In [ ]:
#6b
x = int(input())
for i in range(1,x+1):
  for j in range(0,i):
    print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#6c
x = int(input())
for i in range(1,x+1):
  for j in range(i,x+1):
    print(f"{i}",end=" ")
  print()

10
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

In [ ]:
#6d
x=int(input())
for i in range(1,x+1):
  for j in range(i,x):
    print("",end=" ")
  for j in range(1,i+1):
    print(f"{j}",end=" ")
  print()

10
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10